.hero{

position:relative;

padding-top:120px;

padding-bottom:100px;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

overflow:hidden;
}

.hero-content{

max-width:900px;
}

.hero h1{

font-size:82px;

line-height:92px;

font-weight:800;

color:white;

margin-bottom:30px;
}

.hero span{

color:#2563EB;
}

.hero p{

max-width:700px;

margin:auto;

font-size:20px;

line-height:34px;

color:#94A3B8;
}

.hero button{

margin-top:40px;

background:white;

border:none;

padding:18px 40px;

border-radius:40px;

font-weight:700;

cursor:pointer;

transition:.3s;
}

.hero button:hover{

transform:translateY(-3px);
}

.tag{

position:absolute;

padding:14px 24px;

border-radius:40px;

background:rgba(255,255,255,.03);

border:1px solid rgba(255,255,255,.08);

color:white;

font-size:15px;

backdrop-filter:blur(15px);
}

.tag1{

left:10%;
top:120px;
}

.tag2{

right:12%;
top:120px;
}

.tag3{

left:8%;
bottom:160px;
}

.tag4{

right:10%;
bottom:200px;
}

@media(max-width:992px){

.hero h1{

font-size:60px;

line-height:70px;
}

.hero p{

font-size:18px;
}

}

@media(max-width:768px){

.hero{

padding-top:90px;

padding-inline:20px;
}

.hero h1{

font-size:42px;

line-height:50px;
}

.hero p{

font-size:16px;

line-height:28px;
}

.tag{

display:none;
}

.hero button{

padding:15px 28px;
}

}

@media(max-width:480px){

.hero h1{

font-size:34px;

line-height:42px;
}

}