*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;

    background: linear-gradient(
        180deg,
        #030A2A 0%,
        #040F36 35%,
        #061244 70%,
        #07154A 100%
    );

    color:#fff;

    overflow-x:hidden;
}

.app{
    min-height:100vh;
}